<ng-container *ngIf="clientes; else loading">
  <form [formGroup]="form" class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Pesquisar cliente"
      aria-label="Pesquisar cliente"
      aria-describedby="button-addon"
      [formControlName]="'cliente'"
      (keydown)="onInputKeyDown($event)"
    />
    <button
      *ngIf="form.controls.cliente.value"
      class="btn btn-danger"
      type="button"
      id="button-addon"
      (click)="limparFiltro()"
    >
      <i class="bi bi-x-lg"></i>
    </button>
    <button
      class="btn btn-dark"
      type="button"
      id="button-addon"
      (click)="filtrarCliente(form.controls.cliente.value)"
    >
      <i class="bi bi-search"></i>
    </button>
  </form>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let cliente of clientesFiltrados" class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ cliente.nome }}</h5>
          <p class="card-text">{{ cliente.email }}</p>
          <div class="text-end">
            <div class="btn btn-dark me-2">
              <i class="bi bi-pencil-square"></i>
            </div>
            <div
              class="btn btn-dark me-2"
              data-bs-toggle="modal"
              data-bs-target="#visualizarClienteModal"
              (click)="definirClienteDoModal(cliente)"
            >
              <i class="bi bi-eye-fill"></i>
            </div>
            <div class="btn btn-dark">
              <i class="bi bi-trash-fill"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngb-alert
    *ngIf="clientesFiltrados && !clientesFiltrados.length"
    class="mt-4"
    [type]="'dark'"
    [dismissible]="false"
    >Nenhum cliente encontrado com o nome pesquisado.</ngb-alert
  >
</ng-container>

<div class="modal fade" id="visualizarClienteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{ clienteModal?.nome }}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Dados Pessoais</h5>
        <p><span class="fw-bold">Email:</span> {{ clienteModal?.email }}</p>
        <p>
          <span class="fw-bold">Data de nascimento:</span>
          {{ clienteModal?.dataNascimento }}
        </p>
        <hr />
        <h5>Telefones</h5>
        <p *ngFor="let telefone of clienteModal?.telefones">
          <span class="fw-bold">-</span> {{ telefone.numero }}
        </p>
        <hr />
        <h5>Documentos</h5>
        <p *ngFor="let documento of clienteModal?.documentos">
          <span class="fw-bold">{{ documento.tipo }}: </span>
          {{ documento.numero }}
        </p>
        <hr />
        <h5>Endereço</h5>
        <p>
          <span class="fw-bold">Logradouro:</span>
          {{ clienteModal?.endereco?.logradouro }}
        </p>
        <p>
          <span class="fw-bold">Numero:</span>
          {{ clienteModal?.endereco?.numero }}
        </p>
        <p>
          <span class="fw-bold">CEP:</span> {{ clienteModal?.endereco?.cep }}
        </p>
        <p>
          <span class="fw-bold">Bairro:</span>:
          {{ clienteModal?.endereco?.bairro }}
        </p>
        <p>
          <span class="fw-bold">Cidade:</span>
          {{ clienteModal?.endereco?.cidade }}
        </p>
        <p>
          <span class="fw-bold">Estado:</span>
          {{ clienteModal?.endereco?.estado }}
        </p>
        <p>
          <span class="fw-bold">Complemento:</span>
          {{ clienteModal?.endereco?.complemento }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Carregando clientes...</p>
  <ngb-progressbar class="mb-3" [value]="1000" type="dark" />
</ng-template>
